
body{
    background-color:#ed1b76;
    background-position: center;
    border-radius: 20px;
    /* overflow-x: hidden;
    overflow-y: hidden;  */
}

.logo{
    position: relative;
    left: 27%;
}

#gameCanvas{
    background-color: white;
    margin:20px;
    border-radius: 20px;
    position: relative;
}

.whole-layout{
    display: flex;
    justify-content: center;
}

.left-inside-container{
 display: flex;
 width:10vw;
 flex-direction: column;
 align-items: center;
 flex-wrap: nowrap;
 justify-content: space-around; 
 border: 3px solid white;
 border-radius: 20px;
 font-size: 20px;
 margin-top: 20px;
}

.game_button, .timer_button,.reward_button,.linkedin_button,.read_me{
    width:60px;
    height:60px ;
    background-color: #249f9c;
    border: 2px solid white;
    margin:10px;
    cursor: pointer;
}


.timer_button{
    visibility: hidden;
    font-size: 20px;
    text-align:center;
}


.game_button, .linkedin_button,.fa-brands:hover{
    transform: scale(1.1);
    transition: transform 300ms ease-in;
}


.reward_button{
    font-size: 20px ;
    border-radius: 100%;
    text-align: center;
    visibility: hidden;
}

.left-container.img{
    display: relative;
}

.left-container .fa-brands.fa-linkedin{
    position: relative;
    /* bottom:20;
    left:35%; */
}

.fa-brands{
    color:black
}

.fa-brands.fa-github{
    top:19.5%;
    left:16%;
    position:absolute;
    width:12px;
    height: 12px;
}

.linkedin_button{
    border-radius: 100%;
}

.right-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.instruction-container{
    border: 3px solid white;
    width:400px;
    height:410px;
    border-radius:20px ;
    font-size: 20px;
    color: black;
    /* margin: auto; */
    font-family: "fantasy", 'Courier New', Courier, monospace;
}

.instruction-logo{
    position: relative;
    left:17%;
    padding: 10px;

}

.arrow{
    position: relative;
    left:5%
}

audio{
    position: relative;
    left:40%;
    width: 100px;
    height: 20px;
}

.explanation{
    padding: 3px;
}


.right-inside-container{
 display: flex;
 width:10vw;
 flex-direction: column;
 align-items: center;
 flex-wrap: nowrap;
 justify-content: space-around; 
 border: 3px solid white;
 width: 100;
 height: 300;
 border-radius: 20px;
 margin-top: 20px;
}


.pop-up{
    display: block;
    z-index: 1;
    width:400px;
    height:100px;
    padding:20px;
    background-color: black;
    color:white;
    text-align: center;
    margin: auto;
    position: absolute;
    /* transform: translateX(100%); */
    /* transform: translateY(-250%); */
    left:26%;
    opacity: 0.3;
    border-radius: 20px;
}

.pop-up-refresh{
    width:60px;
    height: 60px;
    font-size: 24px;
    background-color: white;
    border:2px solid black;
    border-radius: 50%;
}

.pop-up-message{
    display: block;
    font-size: 38px;
}

.pop-up-hide{
    display: none;
}





