body {
  background-color: #ed1b76;
  background-position: center;
  border-radius: 20px;
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  padding-left: 50px;
}

.logo {
  /* margin: 20px; */
  /* margin-left: 20px; */
  margin-top: 20px;
  width: 500px;
  position: relative;
}

#gameCanvas {
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  /* position: relative; */
}

.whole-layout {
  display: flex;
  width: 1200px;
  justify-content: space-around;
}

.left-inside-container {
  display: flex;
  width: 10vw;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.linkedin_button,
.read_me {
  width: 60px;
  height: 60px;
  background-color: #249f9c;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
}

.game_button
 {
  width: 53px;
  height: 53px;
  background-color: #249f9c;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
}
.reward_button
 {
  width: 60px;
  height: 60px;
  background-color: #249f9c;
  border: 2px solid white;
  margin:5px;
  font-size: 23px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  /* padding-top: 20px; */
}


.timer_button {
  width: 53px;
  height: 53px;
  background-color: #249f9c;
  border: 2px solid white;
  margin: 10px;
  visibility: hidden;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* .game_button,
.linkedin_button,
.fa-brands:hover {
  transform: scale(1.1);
  transition: transform 300ms ease-in;
  font-size: 15px;
} */

.game_button:hover {
  transform: scale(1.1);
  transition: transform 300ms ease-in;
  font-size: 15px;
}


.fa-play {
  font-size: 15px;
}


.left-container {
  margin-top: 103px;
}

.tri {
  margin-top: 5px;
}

.left-container.img {
  display: relative;
}

.left-container .fa-brands.fa-linkedin {
  position: relative;
  /* bottom:20;
    left:35%; */
}

.fa-brands,
.fa-solid {
  color: black;
  font-size: 18px;
}

.fa-brands.fa-github {
  top: 165px;
  left: 97px;
  /* top:15%;
    left:24.8%; */
  position: absolute;
  width: 10px;
  height: 10px;
}

.linkedin_button {
  border-radius: 100%;
}

.right-container {
  display: flex;
  margin-top: 110px;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
}

.instruction-container {
  border: 3px solid white;
  width: 400px;
  height: 410px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
  /* margin: auto; */
  font-family: "fantasy", "copperplate";
}

.instruction-logo {
  position: relative;
  left: 17%;
  padding: 10px;
}

.arrow {
  position: relative;
  left: 5%;
}

audio {
  position: relative;
  left: 40%;
  width: 100px;
  height: 20px;
}

.explanation {
  padding: 3px;
}

.right-inside-container {
  display: flex;
  width: 10vw;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: 3px solid white;
  width: 100;
  height: 350;
  border-radius: 20px;
  /* margin-top: 5px; */
}

.pop-up {
  display: block;
  z-index: 1;
  width: 400px;
  height: 100px;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  position: absolute;
  /* transform: translateX(100%); */
  transform: translateY(220%);
  left: 7%;
  /* left: 80px; */
  top: 100px;
  opacity: 0.3;
  border-radius: 20px;
}

.pop-up-refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up-message {
  display: block;
  font-size: 38px;
}

.pop-up-hide {
  display: none;
}

.explanation1,
.explanation8 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.explanation2,
.explanation3,
.explanation4 {
  font-size: 15px;
  text-align: center;
  color: white;
}
.explanation5,
.explanation6,
.explanation7 {
  font-size: 15px;
  text-align: center;
  color: white;
}

.host {
  position: relative;
  bottom: 3%;
  left: 45%;
}

.villianLeft {
  position: relative;
  bottom: 3%;
  left: 20%;
}

.villianRight {
  position: relative;
  bottom: 3%;
  left: 35%;
}
